<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An application that analayzes faces and provides information through emojis.">
    <meta name="author" content="Abrar Bhuiyan">
    <meta name="keywords" content="Emoji, Face, API, Face API, Analyze, Ana-Moji">

    <!-- Bootstrap CSS -->
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Days+One|Oleo+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57af440f61.js" crossorigin="anonymous"></script>

    <title>ana-moji</title>
  </head>
  <body>
  	<nav class="navbar navbar-light">
  		<div class="container">
  			<a class="navbar-brand" href="/" id="logo">ana-moji</a>
  		</div>
  	</nav>