<% include ./partials/header %>
	<div class="container" id="content">
  		<h1 class="errorDesc">Oops... Looks like something went wrong.</span></h1>
  		<a class="btn btn-primary errorButton" href="/" role="button">Take Me Back</a>
  	</div>
<% include ./partials/footer %>